<div loading="details.loading"></div>

<div class="row">
  <div class="col-md-12">
    <div class="list-group">
      <div class="list-group-item" ng-repeat="issue in details.issues">
        <a class="issue-title" ng-href="{{issue.html_url}}" target="_blank"><i class="fa fa-fw" ng-class="{'fa-check': issue.state === 'closed', 'fa-exclamation-circle': issue.state === 'open'}"></i> {{issue.title}}</a>
        <div>#{{issue.number}} opened <strong am-time-ago="issue.created_at"></strong> by <span class="label label-sm label-default"><i class="fa fa-user fa-fw"></i> <strong>{{issue.user.login}}</strong></span> </div>
      </div>
    </div>
  </div>

  <div class="col-md-12" ng-if="details.issues.length === 0">
    <div class="text-center">
      <i class="fa fa-bug fa-5x"></i>
      <h4 class="text-primary">No Issues Found</h4>
      <p>No issues have been logged to this repository. Have an issue? <a ng-href="{{details.repo.html_url + '/issues'}}" target="_blank">Log it here!</a></p>
    </div>
  </div>
</div>