<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Contributions
      </div>
      <div class="panel-body">
        <canvas id="line" class="chart chart-line" data="details.chartData"
                labels="details.chartLabels" series="details.chartSeries">
        </canvas>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Counts
      </div>
      <div class="panel-body">
        <canvas id="doughnut" class="chart chart-doughnut" data="[ details.repo.stargazers_count, details.repo.forks_count, details.repo.open_issues_count, details.repo.subscribers_count ]" labels="['Stars', 'Forks', 'Open Issues', 'Watchers']"></canvas>
      </div>
    </div>
  </div>
</div>