$primary-colour: #28343d;
$secondary-colour: #60a1a6;

.navbar-default {
  background-color: $primary-colour;
  border-color: $secondary-colour;

  .navbar-brand {
    color: #fff;

    &:active, &:hover, &:focus {
      color: #fff;
    }
  }
}

.badge {
  background-color: $primary-colour;
}

.navbar-form {
  width: 100%;

  .form-group {
    width: 100%;
  }

  .form-control {
    width: 100%;
  }
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: rgba(40, 52, 61, 0.05);
  border: 1px solid #ddd;

  .list-group-item-text {
    color: #555;
  }
}