<div class="home-content">
	<div class="row intro-message animated fadeIn">
		<div class="col-md-12">
			<div class="text-center">
				<i class="fa fa-search fa-5x"></i>
				<h4 class="text-primary">Search for Github Repositories</h4>
				<p>Enter your search in the navbar to search for Github repositories</p>
			</div>
		</div>
	</div>
</div>