.home-content {
  height: 100vh;
  width: 100%; }

.intro-message {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
