@import url(http://fonts.googleapis.com/css?family=Roboto);
@import 'partials/animate';
@import 'partials/overrides';
@import 'partials/loading';

$primary-colour: #60a1a6;

body {
  height: 100%;
  font-family: 'Roboto', sans-serif !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.text-primary {
  color: $primary-colour;
}

