<div class="details-pane">
  <div class="header">
    <div class="row">
      <div class="col-md-8">
        <div class="details-links">
          <a href="" class="details-link" ui-sref="search.details.readme()" ui-sref-active="active">
            README.md <span class="badge">{{details.repo.default_branch}}</span>
          </a>
          <a href="" class="details-link" ui-sref="search.details.issues()" ui-sref-active="active">
            Issues <span class="badge">{{details.repo.open_issues_count}}</span>
          </a>
          <a href="" class="details-link" ui-sref="search.details.stats()" ui-sref-active="active">
            Statistics
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="btn-group pull-right">
          <a href="" ng-href="{{details.repo.html_url}}" class="btn btn-xs btn-default" target="_blank">View on Github</a>
        </div>
      </div>
    </div>
  </div>
  <div class="details">
    <div ui-view></div>
  </div>
</div>