a {
  color: #60a1a6; }
  a:hover {
    text-decoration: none;
    color: #60a1a6; }

.details-pane {
  position: absolute;
  max-height: calc(100vh - 50px);
  margin-top: 50px;
  margin-left: -15px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  width: 100%; }
  .details-pane > .header {
    display: block;
    position: relative;
    width: 100%;
    height: 45px;
    background-color: #fafafa;
    border-bottom: 1px solid #f5f5f5;
    padding: 15px; }
  .details-pane > .details {
    height: calc(100vh - 95px);
    background-color: #fdfdfd;
    overflow: auto;
    padding: 20px 15px; }

.details-links {
  padding: 8px;
  margin: -10px 0;
  height: 25px;
  display: block;
  position: relative; }
  .details-links > .details-link {
    height: 25px;
    position: relative;
    padding: 13px 15px;
    color: #2c2c2c; }
    .details-links > .details-link .badge {
      margin-left: 5px; }
    .details-links > .details-link:hover, .details-links > .details-link:active, .details-links > .details-link:focus {
      text-decoration: none;
      color: #000; }
    .details-links > .details-link.active {
      background-color: rgba(40, 52, 61, 0.05);
      font-weight: bold;
      color: #60a1a6; }
      .details-links > .details-link.active .badge {
        background-color: #60a1a6;
        color: #fff; }

.issue-title {
  font-size: 1.1em; }

.no-issues {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
