.github-search-box {
  font-family: 'Roboto', sans-serif !important;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  width: 100%;
  padding: 15px;
  color: #8E8E8E;

  &:focus {
    border-color: #60a1a6;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  }
}