<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href=""><strong>Search</strong>Hub</a>
    </div>

    <div class="container">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control github-search-box animated fadeIn"
                 placeholder="Search for a Github repository..."
                 ng-model="nav.repoName"
                 ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                 ng-change="nav.search()"/>
        </div>
      </form>
    </div>
  </div>
</nav>