<div class="row">
  <div class="col-md-4">
    <div class="listing-pane">
      <div loading="search.loading"></div>

      <div class="list-group repo-list-group">
        <a href="" ui-sref="search.details.readme({repo: listing.full_name})" class="list-group-item"
           ng-class="{'active': search.currentRepoId === listing.id }" ng-repeat="listing in search.repos" ng-click="search.currentRepoId = listing.id">
          <h4 class="list-group-item-heading repo-heading">{{listing.full_name}}</h4>

          <p class="list-group-item-text">{{listing.description}}</p>
          <span class="repo-info"><i class="fa fa-star fa-fw"></i> {{listing.stargazers_count}}</span>
          <span class="repo-info"><i class="fa fa-code-fork fa-fw"></i> {{listing.forks_count}}</span>
          <span class="repo-info"><i class="fa fa-bug fa-fw"></i> {{listing.open_issues_count}}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div ui-view>
      <div class="no-repo-selected animated fadeIn">
        <div class="text-center">
          <i class="fa fa-info-circle fa-5x"></i>
          <h4 class="text-primary">No Repo Selected</h4>

          <p>Select a repository on the left hand side to view more details.</p>
        </div>
      </div>
    </div>
  </div>
</div>