.listing-pane {
  position: absolute;
  left: 0;
  right: 0;
  height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  margin-top: 50px;
  margin-left: -15px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 10px; }

.repo-list-group {
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .repo-list-group > .list-group-item .animate-enter {
    animation: fadeIn; }
  .repo-list-group > .list-group-item > .repo-heading {
    color: #60a1a6 !important; }
  .repo-list-group > .list-group-item > .repo-info {
    display: inline-block;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 6px;
    color: #28343d; }
  .repo-list-group > .list-group-item:first-child {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important; }
  .repo-list-group > .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important; }

.no-repo-selected {
  display: none;
  height: calc(100vh - 100px);
  width: 100%; }
  .no-repo-selected .text-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

@media (min-width: 768px) {
  .no-repo-selected {
    display: block; } }
